SECRET_KEY='
DEBUG=1
# Comma-separated list of domains, e.g.
# 'example.com,example.net'. Must be set
# when DEBUG=0:
ALLOWED_HOSTS=''
 
DATABASE_HOST='localhost'
DATABASE_USER='root'
DATABASE_PASSWORD=''
DATABASE_NAME=''


#Email Management
EMAIL_BACKEND = "sendgrid_backend.SendgridBackend"
SENDGRID_API_KEY = ""