{% extends "dashboard/dashboard.html" %}

{% block title %} {{ title_page }} {% endblock %}
{% block title_page %} {{ title_page }} {% endblock %}

{% block header_asset %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>-->
{% endblock %}



{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-md-12">
				<table class="table table-striped" id="user_table" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th>Username</th>
			                <th>Tanggal Submit</th>
			                <th>Deskripsi</th>
			                <th>Status</th>
			                <th></th>
			            </tr>
			        </thead>
			        <tbody>
			        	{% for project in projects %}
							<tr>
								<td>{{ project.user.username }}</td>
								<td>{{ project.created_at | date:'d/m/Y H:i'}}</td>
								<td>{{ project.description }}</td>
								<td>
                                    <a class="label label-info" href="/dashboard/projects/{{project.id}}/detail">
                                        {{ project.status_string }}
                                    </a>
                                </td>
								<td></td>
							</tr>
						{% endfor %}	
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
	
{% endblock %}


{% block footer_asset %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('#user_table').DataTable({
                /*"dom": '<"top" f>rt<"bottom" lip><"clear">'*/
            });
		} );
	</script>
{% endblock %}