{% load static %}
<!--Footer-part-->
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
</div>
<!--end-Footer-part--> 
<script src="{% static "templates/dashboard/matrix/js/jquery.min.js" %}"></script> 
<script src="{% static "templates/dashboard/matrix/js/jquery.ui.custom.js" %}"></script> 
<script src="{% static "templates/dashboard/matrix/js/bootstrap.min.js" %}"></script> 
<script src="{% static "templates/dashboard/matrix/js/matrix.js" %}"></script>